@layer base {
  html,
  body {
    min-height: 100dvh;
    width: 100%;
  }
  body {
    min-width: 102.5rem;
    background: var(--gradient-bg);
  }
  html {
    font-size: 62.5%;
  }
}

@theme {
  --animate-fade-in: fade-in 2s ease-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
