@layer utilities {
  .display-sb-42 {
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.2px;
  }

  .display-sb-36 {
    font-size: 3.6rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.2px;
  }

  .display-sb-32 {
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: -0.2px;
  }

  .title-30-eb {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.2px;
  }

  .title-26-eb {
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.2px;
  }

  .title-26-sb {
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.2px;
  }

  .title-26-md {
    font-size: 2.6rem;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.2px;
  }

  .title-24-md {
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: -0.2px;
  }

  .title-23-sb {
    font-size: 2.3rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.2px;
  }

  .title-23-eb {
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.2px;
  }

  .title-23-md {
    font-size: 2.3rem;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.2px;
  }

  .title-20-sb {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: -0.2px;
  }

  .title-20-bd {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: -0.2px;
  }

  .title-20-md {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: -0.2px;
  }

  .title-20-rg {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: -0.2px;
  }

  .font-18-bd {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: -0.2px;
  }

  .font-18-sb {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: -0.2px;
  }

  .font-18-md {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: -0.2px;
  }

  .font-18-rg {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: -0.2px;
  }

  .font-16-bd {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: -0.2px;
  }

  .font-16-sb {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: -0.2px;
  }

  .font-16-md {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: -0.2px;
  }

  .font-16-rg {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: -0.2px;
  }

  .font-14-bd {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: -0.2px;
  }

  .caption-14-bd {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.2px;
  }

  .caption-14-md {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: -0.2px;
  }

  .caption-14-rg {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: -0.2px;
  }
}
